.main-container{
    display: flex;
    
}
.sidebar{
        width: 350px;
        min-width: 230px;
        min-height: calc(100vh-70px);
        background-color: white;
        box-shadow: 5px 5px 5px #939393;
        
        
}

.main{
    padding: 30px;
}
