<div id="sidebarContainer" >
    <a href="#">
        <div id="notesSide" class="sidebarLines">
            <span class="material-symbols-outlined">
                lightbulb
            </span>
            <p>Notes</p>
        </div>
    </a>
    <a href="#">
        <div id="RemainderSide" class="sidebarLines">
            <span class="material-symbols-outlined">
                notifications
            </span>
            <p>Remainders</p>
        </div>
    </a>
    <a href="#">
        <div id="editLabelsSide" class="sidebarLines">
            <span class="material-symbols-outlined">
                edit
            </span>
            <p>Edit Label</p>
        </div>
    </a>
    <a href="#">
        <div id="ArchieveSide" class="sidebarLines">
            <span class="material-symbols-outlined">
                archive
            </span>
            <p>Archives</p>
        </div>
    </a>
    <a href="#">
        <div id="trashSide" class="sidebarLines">
            <span class="material-symbols-outlined">
                delete
            </span>
            <p>Trash</p>
        </div>
    </a>
</div>