*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

.sidebarLines{
    display: flex;
    height: 8vh;
    gap: 50px;
    align-items: center;
    border-radius: 0px 50px 50px 0px; 
    
    
}
.sidebarLines:hover{
    background-color: rgb(243, 239, 239);
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#sidebarContainer{
    margin-top: 10px;
    width: 350px;

}

.material-symbols-outlined{
    font-size: 28px;
    margin-left: 12%;
}
.sidebarContainer{
    display: flex;
    align-items: start;
}