* {
  margin: 0;
  padding: 0;
}
#carddiv{
  width: 100%;
}
textarea {

  flex: 1; /* Let textarea grow to fill available space */
  resize: none;
  outline: none;
  border: none;
  width: 100%;
}
textarea:focus{
  outline: none;
}

#notescard {
  /* width: 15vw;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 15vw;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#notesFooter{
  display: none;
}

.show {
  display: block;
}